// Colors
$white: #ffffff;
$black: #000000;

$background: #f5f7f9;
$border: #ebedf0;
$green-btn: #459571;

$action-icon: #adb4bb;
$action-icon-hover: #797e81;

// Fonts
$main-font: 'Montserrat';
$main-weight: 300;
$semi-weight: 600;
$default-font-size: 1.6rem;